<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Registration</title>
</head>
<body>
    <section id="register" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header text-black">
                            <h2>Register</h2>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'organizer_register' %}" methode="POST" novalidate>
                                {% csrf_token %}
                                {{form}}
                                <input type="submit" value="Register" class="btn btn-block btn-primary">
                            </div>
                            </div>   
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>